# Project specific excludes
properties/

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# Eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
